@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
body {
  background-image: url("../../public/img/currencyMain.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Inter', system-ui !important;
  box-sizing: border-box;
  user-select: none;
}

.currencies {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.currencies li {
  display: inline-flex;
  padding: 10px 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  justify-content: center;
  flex: 1;
}

.currencies li:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.currencies li:active {
  background-color: rgba(0, 0, 0, 0.05);
}

.currencies li.active {
  background-color: #16b67f;
  color: #fff;
}
.svg-icon:hover {
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}
.currencies li:last-of-type {
  display: inline-flex;
  align-items: center;
  flex: 0 0 50px;
  border-right: 0;
}

.currencies li:last-of-type svg {
  width: 16px;
  height: 16px;
}